body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  touch-action: manipulation;
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
}

.knob-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;; 
  grid-template-columns: 1fr 1fr;
  justify-content: center; 
  align-items: top;
  column-gap: 30px;
  row-gap: 10px;
  background: transparent;
}

.knob {
  height: 20vh;
  border-radius: 22px;
}

.dynamic-label {
  font-size: 2em;
  grid-column-start: 1;
  grid-column-end: span 2;
  color: white;
  margin: auto 0 auto 1vw;
  text-wrap: balance;
}

.pad-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 20vh;
  height: 20vh;
  margin: 3px;
  text-align: center;
  color: white;
  background-color: rgba(30, 30, 30, 0.3);
  border: 3px solid darkblue;
  border-radius: 4px;
}

.mute-icon {
  width: 20vw;
  cursor: pointer;
}

#visualizer {
  height: 200px;
  width: 300px;
  opacity: 0.7;
  cursor: move;
  border: 3px solid aquamarine;
  border-radius: 2px;
}

.visualizer-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 10px 20px;
  font-family: monospace;
  cursor: pointer;
  color: blue;
  background: transparent;
  border: 1px solid blue;
  border-radius: 1px;
  transform: rotate(90deg);
}

.toast {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 1vw 0 1vw;
  min-width: 200px;
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: rgba(200,200,200,0.3);
  border: 3px solid white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

.invisible {
  visibility: hidden;
}
